html{
    scroll-behavior: smooth;
}
body{
    font-family: "Lora",sans-serif;
    background-color: powderblue;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width:100%;
    padding: 0;

}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: blanchedalmond;
}

nav li{
    display: inline;

}
nav li a{

    font-family: 'Oswald', sans-serif;
}
nav{
    padding: 3px 5% 3px 5%;
    text-align: right;

}

.skip>a{
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    position: absolute;
    background-color: blanchedalmond;
    top:-20px;
}
.skip>a:focus{
    top:0px;
}
#current_html{

    border-style: inset;
    padding: 1px 3px 1px 3px;
    border-radius: 8px 8px 8px 8px;
    border-width: 3px;
    border-color: aqua;
    background-color: #E3E3E3;
}
a{
    text-decoration: none;
}
header li{
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 20px;
}


footer{
    background-color: lightblue ;
    text-align: center;
    padding: 10px;
    font-family: "Raleway";

}


.contactinfo h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 15px;
}
a:visited{
    color: #551A8B;
}
a{
    color: #551A8B;
}
.title{
    text-decoration: underline;
    text-align: center;
    margin-top: 9px;
    font-size: 20px;
    margin-bottom: 10px;
}
input{
    width: 100%;
    min-height: 40px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
#submitbutton{
    font-family: 'Oswald';
    border: solid 1px blanchedalmond;
    border-radius: 5px;
    background-color: blanchedalmond;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.QandA{
    margin:9px 0 0 0;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
input{
    margin-bottom: 9px;
}


html{
    background-color: lightblue;
}


@media screen and (min-width: 750px)
{
    /*for tablet*/
    nav ul{

        flex-direction: row;


    }
}


/*
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Lora",sans-serif;
    background-color: powderblue;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    width:100%;
    padding: 0;

}
header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: blanchedalmond;
}

nav li{
    display: inline;

}
nav li a{

    font-family: 'Oswald', sans-serif;
}
nav{
    padding: 3px 5% 3px 5%;
    text-align: right;

}

.skip>a{
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    position: absolute;
    background-color: blanchedalmond;
    top:-20px;
}
.skip>a:focus{
    top:0px;
}
#current_html{

    border-style: inset;
    padding: 1px 3px 1px 3px;
    border-radius: 8px 8px 8px 8px;
    border-width: 3px;
    border-color: aqua;
    background-color: #E3E3E3;
}
a{
    text-decoration: none;
}
header li{
    margin: 5px 0 5px 0;
    padding: 0;
    font-size: 20px;
}


footer{
    background-color: lightblue ;
    text-align: center;
    padding: 10px;
    font-family: "Raleway";
}


.contactinfo h1{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-top: 15px;
}

.title{
    text-decoration: underline;
    text-align: center;
    margin-top: 9px;
    font-size: 20px;
    margin-bottom: 10px;
}
input{
    width: 100%;
    min-height: 40px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: whitesmoke;
    margin-bottom: 10px;
}
#submitbutton{
    font-family: 'Oswald';
    border: solid 1px blanchedalmond;
    border-radius: 5px;
    background-color: blanchedalmond;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.QandA{
    margin:9px 0 0 0;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
input{
    margin-bottom: 9px;
}
*/